// Adaptive's js media queries
@media (max-width: $breakpoint-narrow - 1) {
    html:before {
        position: absolute;
        display: none;

        content: 'adaptive:extra-narrow';
    }

    .not-extra-narrow {
        display: none;
    }
}

@media (min-width: $breakpoint-narrow) and (max-width: $breakpoint-regular - 1) {
    html:before {
        position: absolute;
        display: none;

        content: 'adaptive:narrow';
    }

    .not-narrow {
        display: none;
    }
}

@media (min-width: $breakpoint-regular) and (max-width: $breakpoint-wide - 1) {
    html:before {
        position: absolute;
        display: none;

        content: 'adaptive:regular';
    }

    .not-regular {
        display: none;
    }
}

@media (min-width: $breakpoint-wide) {
    html:before {
        position: absolute;
        display: none;

        content: 'adaptive:wide';
    }

    .not-wide {
        display: none;
    }
}
