@font-face {
    font-family: 'GTPressuraMono';
    font-weight: 400;
    font-style: normal;

    src: url('/assets/fonts/GTPressuraMono.woff') format('woff'), url('/assets/fonts/GTPressuraMono.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'GTPressuraMono-Light';
    font-weight: 400;
    font-style: normal;

    src: url('/assets/fonts/GTPressuraMono-Light.woff') format('woff'), url('/assets/fonts/GTPressuraMono-Light.woff2') format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Plaak-SemicondensedRegular';
    font-weight: 400;
    font-style: normal;

    src: url('/assets/fonts/Plaak-SemicondensedRegular.woff') format('woff'), url('/assets/fonts/Plaak-SemicondensedRegular.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Plaak-CondensedBold';
    font-weight: 400;
    font-style: normal;

    src: url('/assets/fonts/Plaak-CondensedBold.woff') format('woff'), url('/assets/fonts/Plaak-CondensedBold.woff2') format('woff2');
    font-display: swap;
}
