html,
body {
    @include text-rendering;
}

body {
    overflow: hidden;
    overflow-y: scroll;
}

html {
    @include fluidBaseRem(375, 750, 8, 16);

    -webkit-marquee-increment: 0vw; // fluid typo fix for safari https://www.sarasoueidan.com/blog/safari-fluid-typography-bug-fix/
}

@include mq-regular {
    html {
        @include fluidBaseRem(1600, 3200, 16, 32);
    }
}
