$base-font-size: 16px;
$breakpoint-narrow: 480px;
$breakpoint-regular: 768px;
$breakpoint-wide: 1024px;

// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-dark-charcoal: #303030;
$color-chinese-white: #e6e2dd;
$color-chinese-silver: #c8cbc9;
$color-charleston-green: #2d2d2d;
$color-spanish-pink: rgb(248, 190, 190);
$color-pastel-red: #ff6060;

// Fonts
$font-mono: 'GTPressuraMono', sans-serif;
$font-mono-light: 'GTPressuraMono-Light', sans-serif;
$font-plaak: 'Plaak-SemicondensedRegular', sans-serif;
$font-plaak-bold: 'Plaak-CondensedBold', sans-serif;
