.container {
    padding: 0 rem(24px);

    font-family: $font-mono;
    font-size: rem(22px);
    font-weight: 400;
    // padding: 0 rem(10px);
    // border: 1px solid red;

    text-transform: uppercase;
}

.heading {
    width: 100%;

    margin: 0 0 rem(102px) 0;

    outline: none;

    font-family: $font-plaak-bold;
    font-size: rem(181px);
    letter-spacing: rem(-2px);

    text-align: center;

    color: $color-dark-charcoal;
}

.form {
    // width: fit-content;
    margin: 0 auto;

    // border: 1px solid magenta;
}

.group {
    position: relative;
    // border: 2px solid;

    margin-bottom: rem(38px);

    // border: 1px solid mediumaquamarine;
}
.label {
    position: absolute;
    top: rem(-30px);
    left: rem(36px);

    padding: rem(16px);
    // border: 1px solid mediumaquamarine;

    background-color: $color-chinese-white;

    color: $color-dark-charcoal;
}

.input {
    width: 100%;
    height: rem(126px);

    padding: rem(36px);

    border: rem(1px) solid $color-dark-charcoal;
    outline: none;

    background-color: transparent;
    //TODO bgcolor darken or change to different color
    // background-color: $color-chinese-silver;

    font-family: $font-mono-light;
    line-height: rem(126px);

    color: $color-dark-charcoal;

    &:focus {
        // border: 1px solid $color-pastel-red;
        border: 1px solid $color-dark-charcoal;

        background-color: #0001;
    }
}
.textarea {
    width: 100%;
    height: rem(582px);
    overflow: auto;

    margin-bottom: rem(44px);
    padding: rem(36px);

    border: rem(1px) solid $color-dark-charcoal;
    outline: none;
    // background-color: $color-chinese-silver;

    background-color: transparent;

    resize: none;

    font-family: $font-mono-light;
    // background-color: #c8cbc9b9;

    color: $color-dark-charcoal;
    &:focus {
        // border: 1px solid $color-pastel-red;
        border: 1px solid $color-dark-charcoal;

        background-color: #0001;
    }
}

.checkbox {
    width: rem(32px);
    height: rem(32px);

    vertical-align: bottom;

    accent-color: $color-dark-charcoal;

    &:hover {
        cursor: pointer;
    }
}
.labelCheckbox {
    top: rem(-12px);

    background-color: transparent;

    // border: 1px solid red;
    &:hover {
        cursor: pointer;
    }
}

.button {
    width: rem(300px);
    height: rem(100px);

    margin-bottom: rem(119px);
    padding: rem(12px);

    outline: none;

    background-color: $color-dark-charcoal;

    transition: all 300ms ease-in-out;

    text-transform: uppercase;

    color: $color-chinese-white;

    &:hover,
    :focus {
        border: 1px solid $color-dark-charcoal;

        background-color: #0001;

        color: $color-dark-charcoal;
    }
}
.radio {
    // position: relative;
    width: 100%;
    height: rem(126px);

    padding: rem(36px) 0 0 rem(54px);
    // border: 1px solid red;

    border: rem(1px) solid $color-dark-charcoal;

    // line-height: rem(126px);
}
.radioOptions {
    position: relative;

    width: rem(32px);
    height: rem(32px);

    margin: 0 rem(20px);

    vertical-align: bottom;

    accent-color: $color-dark-charcoal;

    &:hover {
        cursor: pointer;
    }
}
.labelRadio {
    // border: 1px solid blue;

    // line-height: rem(50px);
    &:hover {
        cursor: pointer;
    }
}

@include mq-wide {
    .container {
        margin: 0 auto;

        // border: 1px solid blue;
    }
    .heading {
        width: 100%;

        margin: 0 0 rem(86px) 0;

        font-size: rem(242px);
    }
    .form {
        width: rem(720px);

        // border: 1px solid red;
    }
    .label,
    .labelRadio {
        font-size: rem(11px);
    }

    .input {
        height: rem(65px);

        line-height: rem(65px);
    }
    .textarea {
        height: rem(200px);
    }

    .radio {
        position: relative;

        width: 100%;
        // padding: rem(36px) rem(18px) rem(18px) rem(18px);
        height: rem(65px);

        padding: rem(24px) 0 0 rem(36px);
    }

    .radioOptions,
    .checkbox {
        width: rem(16px);
        height: rem(16px);
    }
    .radioOptions,
    .labelRadio,
    .checkbox,
    .labelCheckbox {
        vertical-align: top;
    }

    .labelCheckbox {
        top: rem(-16px);
        left: rem(20px);

        // border: 1px solid red;
        &:hover {
            cursor: pointer;
        }
    }
}
