.page {
    width: 100%;
}

.heading {
    display: block;

    margin-bottom: rem(48px);
    // border: 1px solid red;

    font-family: $font-plaak;
    font-size: rem(16px);
    letter-spacing: 2px;
    line-height: rem(25px);

    text-align: center;
}
